.bg-neon-orange {
  background: linear-gradient(45deg, #ffcc00, #ff00ff, #cc00ff, #00ffcc, #ffcc00);
  background-size: 400% 400%;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
