.give-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #57316c;
  transform-origin: bottom;
}

.give-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #57316c;
  transform-origin: top;
}
